@model List<StudentEnrollment.Models.Course>

@{
    Layout = "_Layout";
}
<table>
    <thead>
        <tr>
            <td>Dept </td>
            <td>Num</td>
            <td>Instructor</td>
            <td>Enrolled</td>
            <td>Descritpion</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Department</td>
                <td>@course.Level</td>
                <td>@course.Instructor</td>
                <td>@course.Count</td>
                <td>@course.Description</td>
            </tr>
        }
    </tbody>
</table>